<div class="container">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Cart</li>
            </ol>
        </div>
    </div>

    <p class="bg-warning" style="padding: 15px; font-size: 14px;">
        Your cart has been successfully updated.
    </p>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="item in cart.items" ng-model="cart">
                    <td>{{item.title}}</td>
                    <td class="muted center_text"><img width="300" ng-src="{{item.img_url}}"></td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{(item.price * item.quantity)| currency}}</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><strong>{{total| currency}}</strong></td>
                </tr>
                </tbody>
            </table>

        </div>



        <div class="row">
            <div class="col-md-12" style="text-align:right; padding-right: 30px;">
                <button class="btn btn-success" type="submit">Proceed to Checkout</button>
            </div>
        </div>
    </div>



</div>




